.race-track-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: red;
  }
  
  .race-track-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: red;

  }
  
  .track-info-table,
  .race-info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: red;

  }
  
  .table-header {
    font-weight: bold;
  }
  
  .race-info-header {
    width: 10%;
    background-color: red;

  }
  
  .track-name,
  .location,
  .surface,
  .distance,
  .condition,
  .weather,
  .date,
  .race-name,
  .race-type,
  .distance,
  .purse,
  .winning-time,
  .winning-horse,
  .winning-jockey,
  .winning-trainer,
  .track-record,
  .speed-figure,
  .weather {
    padding: 10px;
    text-align: center;
    background-color: red;

  }
  














/* .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}

th {
  font-weight: 600;
}

thead th {
  border-top: none;
}

tbody td {
  vertical-align: middle;
}

table.table {
  margin-bottom: 40px;
}

table.nested-table {
  margin-bottom: 0;
}

table.nested-table td {
  padding: 0;
}

table.nested-table td > table {
  margin-bottom: 0;
}

table.nested-table td > table td {
  padding: 10px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
} */
